<ion-view title="{{ vm.title }}">
    <ion-content>
        <ion-list>
            <ion-item ng-repeat="article in vm.articles" data-id="{{ article.id }}">
                 {{ article.title }}
                <p>{{ article.body }}</p>
                <div class="button-bar">
                    <button class="button button-small button-outline icon ion-trash-a" ng-click="vm.delete(article)"></button>
                    <a class="button button-small button-outline icon ion-edit" href="#/blog/article/{{ article.id }}/edit"></a>
                </div>
            </ion-item>
        </ion-list>
        <div class="padding">
            <a class="button button-block button-positive button-outline icon icon-right ion-chevron-right" href="#/blog/article/new">New Article</a>
        </div>
        <ion-list>
            <ion-item ng-repeat="image in vm.images" data-id="{{ image.id }}">
                {{ image.title }}
                <p><img ng-src="{{ image.uri }}" alt="{{ image.title }}" style="max-width: 100%;"></p>
            </ion-item>
        </ion-list>
        <div class="padding">
            <a class="button button-block button-positive button-outline icon icon-right ion-chevron-right" href="#/blog/image/new">New Image</a>
        </div>
    </ion-content>
</ion-view>
