<ion-view title="{{ vm.title }}">
    <ion-content>
        <ion-list>
            <ion-item>
                <a class="button icon icon-right ion-chevron-right" href="#/blog">Blog Demo</a>
            </ion-item>
            <ion-item>
                <a class="button icon icon-right ion-chevron-right" href="#/camera">Camera Demo</a>    
            </ion-item>
            <ion-item>
                <a class="button icon icon-right ion-chevron-right" href="#/database">Database Demo</a>    
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
