{% extends 'base.html.twig' %}

{% block body %}
    <div class="jumbotron">
        <h1>NMDAD-III Demo</h1>
    </div>
    <p><a class="btn btn-primary-outline" href="{{ path('security_login') }}">Login</a> <a class="btn btn-secondary-outline" href="{{ path('users_new') }}">Register</a></p>
{% endblock %}